TODO

# Build info
*/buildInfo.hpp

# Build directories
build/*
debug/*
dbg/*
opt/*
install/*
bin/*

# Run directories
cases/*/log*
cases/*/*/log*
cases/*/output_*.dat
cases/*/*/output_*.dat
cases/*/restart
cases/*/*/restart
cases/*/solution
cases/*/*/sol*
cases/*/gprof*
cases/*/*/gprof*
cases/*/*.msh
cases/*/*/*.msh
cases/*/*.bak
cases/*/*/precice-*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Apptainer images
*.sif
*.sif/
*.img
*.img/

*.vtu
*.pvd

*log0
*.log

*.png

